##################################
# WRYYYYYYYYYYYYYYYYYYYYYYYYYYYY #
##################################

/blogScrapy/extract_bak/
/blogScrapy/links/
/blogScrapy/temp_file/
/blogScrapy/main_text_extract/
/.idea