##################################
# WRYYYYYYYYYYYYYYYYYYYYYYYYYYYY #
##################################

/blogScrapy/links/
/blogScrapy/main_text_extract/
/blogScrapy/json_data/
/blogScrapy/log/
/blogScrapy/temp/
/blogScrapy/test/
/blogScrapy/raw_html/
/blogScrapy/old_links/
/.idea
/.claude
/.vscode
*.zip
temp_*

__pycache__/

CLAUDE.md
CLAUDE_ch.md

