##################################
# WRYYYYYYYYYYYYYYYYYYYYYYYYYYYY #
##################################

/blogScrapy/links/
/blogScrapy/main_text_extract/
/blogScrapy/json_data/
/blogScrapy/log/
/blogScrapy/temp/
/blogScrapy/raw_html/
/.idea